<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-4">
      <form (ngSubmit) = "addFile()">
        <h2 class="text-center text-primary">Create file in box with barcode #{{this.barcodeNumber}}</h2>
        <hr />
  
        <div class="form-group">
          <label for="clientId">Client</label>
          <select
            class="form-control"
            name="clientId"
            [(ngModel)] = "file.clientId"
          >
            <option
              *ngFor ="let client of clients"
              [value] = "client.clientId"
              > {{client.clientId}} - {{ client.clientName }} (DOB: {{client.dob | date: 'shortDate'}})</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            [(ngModel)]="file.description"
          />
        </div>
        
        <div class="form-group">
          <input type="checkbox" [(ngModel)] ="file.destroyed" name ="destroyed">
          <label for = "destroyed">Destroyed</label>
        </div>
        <!-- <div class="form-group">
          <label for="barcodeNum">Barcode #</label>
          <input
            type="text"
            class="form-control"
            name="barcodeNum"
            [(ngModel)]="file.barcodeNum"
          />
        </div> -->
  
        <!-- <div class="form-group">
            <label for="boxId">Box Id</label>
            <input
              type="text"
              class="form-control"
              name="boxId"
              [(ngModel)]="file.boxId"
            />
          </div> -->
  
        <div class="form-group text-center">
          <button class="btn btn-success btn-block" type="submit">Add File</button>
          <button class="btn btn-default btn-block" type="button" (click)="cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
