<div class="container">
  <div class="text-left mt-3">
    <h2>Users</h2>
  </div>
  <div class="container mt-3">
      <button class="btn btn-success" [routerLink]="['/users/new']" [disabled]="!this.isAdmin">
        Create New User
      </button>
  </div>
  <div class="container mt-3">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">FirstName</th>
              <th scope="col">LastName</th>
              <th scope="col">Admin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td scope="row"><a [routerLink]="['/users/' + user.userId + '/edit']">{{user.userName}}</a></td>
              <td scope="row">{{user.firstName}}</td>
              <td scope="row">{{user.lastName}}</td>
              <td><div *ngIf="user.isAdmin; else elseBlock">Yes</div></td>
              <ng-template #elseBlock>No</ng-template>
            </tr>
          </tbody>
        </table>
    </div>
    
</div>
