
<div class="container">
  <div class="container mt-3">
    <button class="btn btn-success" [routerLink]="['/boxes/new']">
      Create New Box
    </button>
    <div class="text-center mt-3">
      <h2>Your matches - {{pagination.totalItems}} found</h2>
    </div>

      <form class="form-inline" #form="ngForm" (ngSubmit) = "loadBoxes()" novalidate>
        <!-- <div class="form-group">
          <label for="clientId">Client Id</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="clientId" 
            [(ngModel)] = "boxParams.clientId" name="clientId">
        </div> -->
        <div class="form-group px-3">
            <label for="departmentId">Department:&nbsp;</label>
            <select
              class="form-control"
              name="departmentId"
              [(ngModel)]="boxParams.departmentId"
              style="width: 70px;"
            >
              <option value="0">All</option>
              <option
                *ngFor="let department of departments"
                [value]="department.departmentId"
                >{{ department.departmentName }}</option
              >
            </select>
        </div> 
        
        <div class="form-group px-3">
          <label for="countyId">County:&nbsp;</label>
          <select
            class="form-control"
            name="countyId"
            [(ngModel)]="boxParams.countyId"
            style="width: 100px;"
          >
            <option value="0">All</option>
            <option
              *ngFor="let county of counties"
              [value]="county.countyId"
              >{{ county.countyName }}</option
            >
          </select>
      </div> 

        <div class="form-group px-3">
          <label for="barcodeNum">Barcode #:&nbsp;</label>
          <input type="number" class="form-control ml-1" style="width: 150px" id="barcodeNum" 
            [(ngModel)] = "boxParams.barcodeNum" name="barcodeNum">
        </div> 

        <div class="form-group px-3">
          <label for="destroyed">Show Destroyed:&nbsp;</label>
          <select class="form-control ml-1" style="width: 150px" id="destroyed" 
          [(ngModel)] = "boxParams.showDestroyed" name="destroyed">
            <option *ngFor="let destroyedItem of destroyedList" [value] ="destroyedItem.value">
              {{destroyedItem.display}}
            </option>
          </select>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
          <button type="button" class="btn btn-info" (click) = "resetFilters()" style="margin-left:10px">Reset Filter</button>
        </div>
      <!-- <div class="col">
        <div class="btn-group float-right">
          <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)] = "boxParams.orderBy" (click) = "loadBoxes()" 
            btnRadio="lastActive">Last Active</button>
          <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)] = "boxParams.orderBy" (click) = "loadBoxes()" 
            btnRadio="created">Newest Members</button>
        </div>
      </div> -->
    </form>
  </div>
  <div class="container mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Barcode #</th>
          <th scope="col">Department</th>
          <th scope="col">County</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Description</th>
          <th scope="col"># of files in box</th>
          <th scope="col">Destroyed</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of boxes">
          <td scope="row">
            <a [routerLink]="['/boxes/', box.boxId]">{{ box.barcodeNum }}</a>
          </td>
          <td>{{ box.department }}</td>
          <td>{{ box.county }}</td>
          <td>{{ box.from }}</td>
          <td>{{ box.to }}</td>
          <td>{{ box.description }}</td>
          <td>{{ box.fileCount }}</td>
          <td><div *ngIf="box?.destroyed; else elseBlock">Yes</div></td>
            <ng-template #elseBlock>No</ng-template>
            <td><i *ngIf="box?.destroyed == false"  class="fa fa-trash" (click) = "destroyBox(box.boxId)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems" 
              [itemsPerPage] = "pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged) = "pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
 
</pagination>
</div>
<!-- <div *ngIf="addBoxMode" class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-box-new (cancelAddBox)="cancelAddBoxMode($event)"></app-box-new>
    </div>
  </div>
</div> -->
