<div class="container">
  <div class="container mt-3">
    <button class="btn btn-success" [routerLink]="['/boxes/new']">
      Create New Box
    </button>
  </div>
  <div class="container mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Barcode #</th>
          <th scope="col">Department</th>
          <th scope="col">County</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Description</th>
          <th scope="col"># of files in box</th>
          <th scope="col">Destroyed</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of boxes">
          <td scope="row">
            <a [routerLink]="['/boxes/', box.boxId]">{{ box.barcodeNum }}</a>
          </td>
          <td>{{ box.department }}</td>
          <td>{{ box.county }}</td>
          <td>{{ box.from }}</td>
          <td>{{ box.to }}</td>
          <td>{{ box.description }}</td>
          <td>{{ box.fileCount }}</td>
          <td><div *ngIf="box?.destroyed; else elseBlock">Yes</div></td>
            <ng-template #elseBlock>No</ng-template>
            <td><i *ngIf="box?.destroyed == false"  class="fa fa-trash" (click) = "destroyBox(box.boxId)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div *ngIf="addBoxMode" class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-box-new (cancelAddBox)="cancelAddBoxMode($event)"></app-box-new>
    </div>
  </div>
</div> -->
