<div class="container mt-3">
    <!-- <button class="btn btn-success" [routerLink]="['/files/new']">
      Create New File
    </button> -->
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Box Barcode #</th>
            <th scope="col">Client Id</th>
            <th scope="col">Client Name</th>
            <th scope="col">Description</th>
            <th scope="col">Destroyed</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files">
            <td scope="row"><a [routerLink]="['/boxes/', file.boxId]">{{file.barcodeNum}}</a></td>
            <td>{{file.clientId > 0 ? file.clientId : '-' }}</td>
            <td>{{file?.clientName}}</td>
            <td>{{file?.description}}</td>
            <td><div *ngIf="file?.destroyed; else elseBlock">Yes</div></td>
            <ng-template #elseBlock>No</ng-template>
            <td><i class="fa fa-fire"></i></td>
            <td><button class="btn btn-primary btn-sm" [routerLink]="['/files/' + file.fileId + '/edit']">Edit File</button></td>
          </tr>
        </tbody>
      </table>
  </div>
  