<div class="container mt-4">
  <div class="row">
    <div class="col"><strong>Barcode #:&nbsp;</strong></div>
    <div class="col">{{ box.barcodeNum }}</div>
    <div class="col"><strong>Department:&nbsp;</strong></div>
    <div class="col">{{ box.departmentName }}</div>
    <div class="col"><strong>County:&nbsp;</strong></div>
    <div class="col">{{ county.countyName }}</div>
  </div>

  <div class="row">
    <div class="col"><strong>From:&nbsp;</strong></div>
    <div class="col">{{ box.from }}</div>
    <div class="col"><strong>To:&nbsp;</strong></div>
    <div class="col">{{ box.from }}</div>
    <div class="col"><strong>Description:&nbsp;</strong></div>
    <div class="col">{{ box.description }}</div>
  </div>
</div>

<div class="container mt-3">
  <button class="btn btn-success" [routerLink]="['/boxes/' + box.boxId + '/files/new']">
    Add File to Box
  </button>
  <button class="btn btn-primary" [routerLink]="['/boxes/' + box.boxId + '/edit']">
    Edit Box Details
  </button>
  <!-- <button class="btn btn-primary" [routerLink]="['/boxes/' + box.boxId + '/movefile']">
    Move File from Box
  </button> -->
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">File #</th>
            <th scope="col">Client Id</th>
            <th scope="col">Client Name</th>
            <th scope="col">Description</th>
            <th scope="col">Destroyed</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of box.files">
            <td scope="row">{{ file.fileId }}</td>
            <td *ngIf="file.clientId != 0; then thenBlock; else elseBlock"></td>
            <ng-template #thenBlock><td>{{file.clientId}}</td></ng-template>
            <ng-template #elseBlock><td>&nbsp;</td></ng-template>
            <td>{{ file.clientName }}</td>
            <td>{{ file.description }}</td>
            <td><div *ngIf="file?.destroyed; else elseBlock">Yes</div></td>
            <ng-template #elseBlock>No</ng-template>
            <td><i *ngIf="file?.destroyed == false" class="fa fa-trash" (click) = "destroyFile(file.fileId)"></i></td>
            <td><button class="btn btn-primary btn-sm" [routerLink]="['/files/' + file.fileId + '/edit']">Edit File</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
